{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Resume-Ramesh Dev Prajapati</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <br>
    <!---
    <ul class="nav navbar navbar-dark bg-dark justify-content-center">
      <li class="nav-item">
        <a class="nav-link btn btn-success mr-1" href="#" type="button">Resume</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-success mr-1" href="https://api.whatsapp.com/send?phone=919321859016&text=Thank%20you%20for%20approaching%20me"
           type="button">WhatsApp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-success mr-1" href="#" type="button">Call-9321809016</a>
      </li>
</ul>--->
    <ul class="social-links nav navbar navbar-dark bg-dark justify-content-center">
        <li><a href="https://github.com/rameshdevprajapati"><img src="{% static 'images/github.png' %}" class="social mr-2"></a></li>
        <li><a href="https://www.instagram.com/rd_billionaire_27/"><img src="{% static 'images/instagram.png' %}" class="social mr-2"></a></li>
        <li><a href="https://www.linkedin.com/in/ramesh-dev-prajapati-343321100/"><img src="{% static 'images/linkedin.png' %}" class="social mr-2"></a></li>
        <li><a href="https://twitter.com/rd_billionaire8"><img src="{% static 'images/twitter-1.png' %}" class="social mr-2"></a></li>
        <li><a href="https://s4w.in/Y0vAH"><img src="{% static 'images/whatsapp.png' %}" class="social mr-2"></a></li>
        <li><a href="https://www.youtube.com/channel/UCWW64GrCL18kmt9HiVwMtiQ"><img src="{% static 'images/youtube.png' %}" class="social mr-2"></a></li>

    </ul>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card card-body h-100 border-success">
                    <h4>My First Project as Freelancer</h4>
                    <hr class="hc">
                    <p><strong>Visu Air Cool</strong> is my first responsive website. I designed it using HTML, CSS, JavaScript & bootstrap.
                    I also worked on SEO and Google Adwords. It's a very important project for me as fresher.</p>

                    <p>After that project, I worked for many dummy projects to learn but didn't upload on github and suddenly my OS is crashed
                        and I lost my few projects.</p>

                    <p> I learnt many things and feel like I am going to be Next <strong>Elon Musk/Steve Jobs</strong>.</p>

                    <p>During development of this website I was improving myself day to day in aspects of thinking, coding & hard work</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-body h-100 border-success" id="profile-wrapper">
                    <img id="profile-photo" src="{% static 'images/rdp.jpg' %}">
                    <h4>Hello, I'm Ramesh Dev Prajapati!</h4>
                    <p>I like to work at night.<br> I'm Creative Programmer and like to spend time with good & genius people.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-success">
                    <h4>My Experienced as Event Executive</h4>
                    <hr class="hc">
                    <p>I Worked as Event Executive in <strong>Greets Events & Promotions</strong> for two years(2018-20).</p>

                    <p>Where I learnt many things such as How to talk to clients, How to Execute Event as TL,
                        How to work on Body Language & Communication Skills. How to fulfill clients requirements. etc..</p>

                    <p>As a Event Executive I have organized many events such as College Farewell, Road Shows, Corporate Events etc..</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 border-success">
                    <h4>What I Know</h4>
                    <hr class="hc">
                    <p>Python is my First Programming Language that I learnt & very easy language that's why Python is My favorite Languages.</p>

                    <p>Python, Django, HTML, CSS, JavaScript, Tkinter, MySQL, AWS, SEO, Digital Marketing and Google Analytics.</p>

                    <p><strong>Note:- Working on Kotlin, Android Development & Artificial Intelligence.</strong></p>

                </div>
            </div>
        </div>
        <!---
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>---->
        <br>
    </div>






<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
